# Auto detect text files and perform LF normalization
* text=auto
*.cpp linguist-detectable=true
*.py linguist-detectable=true
*.java linguist-detectable=true
*.cpp linguist-language=C++
*.py linguist-language=Python
*.java linguist-language=Java
*.cs linguist-language=C#
*.c linguist-language=C
